.gridParent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr)); /*repeat(2, minmax(390px, 1fr));*/
  grid-template-rows: repeat(2, 260px); /*repeat(2, 260px);*/
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 100vh;
  /* justify-content: center; */
  align-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto; 
}

.gridOnecol {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 0.9fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

  height: 100vh;
  
  align-content: center;
  align-items: center;
}