$button-backgrond-color: #616161;

.button {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 20px;
    background-color: $button-backgrond-color;
    border: none;
    color: white;
    align-content: center;
    text-align: center;
    padding: 5px 20px;
    font-size: 15px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}