$background-color: #607d8b;
$font-color: #ffffff;
$link-hover-color: #4a616c;

.profileMenuBlock {
    display: block;
    position: fixed;
    top: 40px;
    right: 20px;
    width: auto;
    z-index: 1;
    background-color: $background-color;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {padding: 5px 20px;
            line-height: 40px;
            color: $font-color;
            cursor: pointer;
            &:hover {
                background: $link-hover-color;
            }
        }
    }
}



