$background-color: #616161;
$font-color: #ffffff;
$link-hover-color: #414141;

$button-backgrond-color: #616161;

// стили для кнопки
.button {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 20px;
    background-color: $button-backgrond-color;
    border: none;
    color: white;
    align-content: center;
    text-align: center;
    padding: 5px 20px;
    font-size: 15px;
    height: 40px;
    cursor: pointer;
}

.icon {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-bottom: 3px;
}

//стили для блока меню
.profileMenuBlock {
    display: block;
    position: fixed;
    top: 40px;
    right: 20px;
    width: auto;
    z-index: 1;
    background-color: $background-color;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {padding: 5px 20px;
            line-height: 40px;
            color: $font-color;
            cursor: default;
            &:not(:first-child) {cursor: pointer;}
            &:hover {
                &:not(:first-child){
                    background: $link-hover-color;
                }
            }
        }
    }
}

.profileMenuNone {
    display: none;
}

.icon {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-bottom: 3px;
}